<!DOCTYPE html>
<html lang="ko">

<head>
</head>

<body>
    <div style="display: block; width:100%; text-align: center; max-width: 700px; padding:30px;">
        <div style="display: block; width:100%; text-align: left;">
            <img src="{{ assetUrl }}/logo.png" style="width: 160px;" alt="SuperBucket" /><!-- 이미지 경로는 수정해서 사용 -->
        </div>

        <div
            style="display: block; width:100%; text-align:left; font-size: 14px; line-height: 21px; color:#222; font-weight: 400;">
            Edge Vision Analytics (EVA) 기반 청소행정 업무 포털</div>

        <div
            style="display: block; width:100%; text-align:center; background: #f4f4f4; padding:24px 17px; border-top:5px solid #0E8001; border-bottom:5px solid #0E8001;">

            <div style="font-size:16px; font-weight:normal; color:#222; text-align: left; margin-bottom: 12px;">
                <b>{{ operator }}</b> 귀하께,
            </div>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                <b>{{operator}}</b> 과 SuperBucket 간의 계약이 <b>{{endDate}}</b> 에 만료됨을 알려 드립니다.
            </div>
            <br/>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                귀사의 데이터가 안전하게 보관될 수 있도록 계약이 갱신될 경우 지난 1년간의 데이터를 전부 백업할 예정입니다. 
                이를 통해 중요한 데이터를 잃을 걱정 없이 계속해서 저희 서비스를 이용하실 수 있습니다.
            </div>
            <br/>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                데이터 백업 및 계약 갱신에 대한 자세한 내용을 확인하시려면 아래 버튼을 클릭하여 시스템에 로그인해 주세요:
            </div>
            <div style="font-size:16px; font-weight:normal; color:#222; text-align: center; font-weight:bold; margin-bottom: 12px;">
                <a href="{{link}}">Login</a>
            </div>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                시스템에 로그인하여 백업 세부 내용을 검토 및 확인해 보시기를 권장드립니다.
            </div>
            <br/>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                문의 사항이나 추가 도움이 필요하시면 <b>support@superbucket.kr</b> 이메일로 언제든지 연락해 주세요 
            </div>
            <br/>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left;">
                협조해 주셔서 감사합니다.
            </div>
            <br/>
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left; padding:10px 0 0">
				감사합니다.
			</div>
            <br />
            <div style="font-size:15px; font-weight:normal; color:#222; text-align: left; padding:10px 0 0">
				SuperBucket 팀 드림
			</div>
        </div>
        <div
            style="display: block; width:100%; text-align:left; font-size: 13px; line-height: 20px; color:#999; font-weight: 400; padding:50px 0 4px">
            청소행정 업무를 위한 혁신기술을 경험해 보세요</div>

        <div
            style="display: block; width:100%; text-align:left; font-size: 12px; line-height: 19px; color:#333; font-weight: 700;">
            2024 SuperBucket. All rights reserved</div>
    </div>
</body>

</html>